@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    
    
    <img src="~/images/adi-trans-logo.png" alt="ADI TRANS Logo" style="max-width: 320px; width: 100%; height: auto; margin-bottom: 2rem;" />

    @if (ViewBag.UserName != null && ViewBag.UserEmail != null && ViewBag.UserId != null)
    {
        <div class="alert alert-info text-start mt-3">
            <strong>Logged in as:</strong><br />
            Name: @ViewBag.UserName <br />
            Email: @ViewBag.UserEmail <br />
            Id: @ViewBag.UserId
        </div>
    }
</div>
